{% extends 'blog/base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<div class="loader"></div>
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                <p><strong>Published: </strong>{{ post.published_date }}</p>
            </div>

        {% else %}
            <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish</a>
        {% endif %}


        {% if user.is_authenticated %}
            <a href="{% url 'post_edit' pk=post.pk %}"><i class="fas fa-edit fa-2x"></i></a>
        {% endif %}

        <p><h2>{{ post.title }}</h2>  <strong><i style="font-size:12px;color:#666;margin:0 0 10px"> by {{ post.author }}</i></strong></p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

{% endblock %}
